<!DOCTYPE html>
<html>
<head>
  <title>Women Leaders</title>
  <%- include partials/head.ejs %>
</head>
<body>
	<div id="main">
		<header>
			<div>
				<h1>Successful women leaders</h1>
				<h2>Get inspired!</h2>
			</div>
		</header>
		<div id="options" data-js="options">
			<a href="#" data-js="ceo" class="option">CEO</a>
			<a href="#" data-js="option" class="option">Founder</a>
			<a href="#" data-js="option" class="option">Manager</a>
			<a href="#" data-js="option" class="option">STEM</a>
			<a href="#" data-js="option" class="option">Other</a>
		</div>
		<div id="search"></div>
		<section>
			<div class="person">
				<img class="profile-img" src="/images/susan.png" alt="susan wojcicki"/>
				<h3>Susan Wojcicki</h3>
				<p>CEO of YouTube</p>
				<div class="clear-both"></div>
			</div>
			<div class="person">
				<h3>Marissa Mayer</h3>
				<p>CEO of Yahoo</p>
			</div>
			<div class="person">
				<h3>Sheryl Sandberg</h3>
				<p>CEO of Facebook</p>
			</div>
			<div class="person">
				<h3>Jessica Alba</h3>
				<p>Founder of The Honest Company</p>
			</div>
			<div class="person">
				<h3>Goldie Hawn</h3>
				<p>Founder of The Hawn Foundation</p>
			</div>
			<div class="person">
				<h3>Dr. Laura Esserman</h3>
				<p>MD, UCSF School of Medicine</p>
			</div>
			<div class="person">
				<h3>Mary Moloney</h3>
				<p>CEO of CoderDojo</p>
			</div>
			<div class="person">
				<h3>Tara Brach</h3>
				<p>Mindfulness Teacher</p>
			</div>
			<div class="person">
				<h3>Julia Hartz</h3>
				<p>Co-founder and persident of Eventbrite</p>
			</div>
		</section>
	</div>
</body>
</html>