<!DOCTYPE html>
<html>
<head>
  <title>Women Leaders</title>
  <%- include partials/head.ejs %>
</head>
<body>
	<div id="main">
		<header>
			<div>
				<h1>Successful women leaders</h1>
				<h2>Get inspired!</h2>
			</div>
		</header>
		<div id="options" data-js="options">
			<a href="#" data-js="ceo" class="option">CEO</a>
			<a href="#" data-js="option" class="option">Founder</a>
			<a href="#" data-js="option" class="option">Manager</a>
			<a href="#" data-js="option" class="option">STEM</a>
			<a href="#" data-js="option" class="option">Other</a>
		</div>
		<div id="search"></div>
		<section id="react-test">
			
		</section>
	</div>
</body>
</html>